main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 300px;
    height: 100px;
    margin: 20px;
}

.both {
    resize: both;
}

.none {
    resize: none;
}

.horizontal {
    resize: horizontal;
}

.vertical {
    resize: vertical;
}