.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select {
    height: 25px;
    background-color: #444;
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}

.main_list {
    display: flex;
    list-style-type: none;
}
