
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.item {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.item:hover {
    background-color: #d10953;
}

.item:focus {
    background-color: #d10953;
}