html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr 150px; 
    grid-template-columns: 200px 1fr; 
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box; /
}

.header {
    grid-column: 1 / 3;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.sidebar {
    border-right: 1px solid black;
    box-sizing: border-box;
}

.footer {
    grid-column: 1 / 3;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.header, .sidebar, .content, .footer {
    padding: 10px;
    box-sizing: border-box;
}
